import React, { Component }  from 'react';
import PropTypes from 'prop-types';

/**
*
* {{ properCase name }}
*
*/
class {{ properCase name }} extends Component {
    static propTypes = {}

    constructor(props) {
        super(props);

        this.state = {};
    }

    render() {
        return (
          <div>
            {{ properCase name }}
          </div>
        );
    }
}

export default {{ properCase name }};
